{{- $name := promptStringOnce . "name" "Full name" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $is_work := promptBoolOnce . "is_work" "Is this a work machine" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
    is_work = {{ $is_work }}

[edit]
    command = "nvim"

[diff]
    command = "nvim"
    args = ["-d"]

[merge]
    command = "nvim"
    args = ["-d"]
